body {
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.942), rgba(33, 33, 35, 0.482)),
    url("../public/Viajar.jpg") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.button {
  height: 50px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 5px 5px 2px rgb(40, 196, 227);
  padding: 30px;
  background-color: rgb(8, 27, 27);
  color: rgb(196, 157, 41);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;

  animation: shaking 2s infinite;
}

@keyframes shaking {
  10% {
    transform: scale(1.05) rotate(5deg);
  }

  20% {
    transform: scale(1.05) rotate(-5deg);
  }

  30% {
    transform: scale(1.05) rotate(5deg);
  }

  40% {
    transform: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
